﻿@using RazorEngine.Templating
@using OneUp.OneUpMonitor
@using OneUp.OneUpMonitor.EmailModels.MLB
@inherits TemplateBase<StartKillTime>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>
        The DataProcessing service exceeded a maximum allowed time difference between MLB data and OneUp data. 
    </p>
    <p>
        Service was killed at @Model.KillTime.ToLongTimeString() and started again at @Model.StartTime.ToLongTimeString().
    </p>
    <p>
        The next check will be in 10 minutes.
    </p>

</body>
</html>  