﻿@using RazorEngine.Templating
@using OneUp.OneUpMonitor
@using OneUp.OneUpMonitor.EmailModels.MLB
@inherits TemplateBase<StartKillTime>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>
        The EventService process exceeded a maximum allowed time difference between received plays and processed events.
    </p>
    <p>
        Service was killed at @Model.KillTime.ToLongTimeString() and started again at @Model.StartTime.ToLongTimeString().Service was killed at @ and started again at {1}.
    </p>

</body>
</html>  