﻿@using RazorEngine.Templating
@using OneUp.OneUpMonitor
@using OneUp.OneUpMonitor.EmailModels.MLB
@inherits TemplateBase<Schedule>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>
        GameCode @Model.GameCode / ProviderGameId @Model.ProviderGameID successfully ended at @DateTime.Now.ToLongTimeString() after having failed previously.
    </p>
</body>
</html>  